<div class="jumbotron">
  <h1 id="title">Coding Journey</h1>
</div>
<div class="container-fluid">
  <div class="row">
      <% @products.each do |product| %>
        <div class="col-sm">
          <a href="#"><h1><% @products.name %></h1></a>
          <p><% @products.description %></p>
          <strong><% @products.date %></strong>
        </div><!-- /col -->
      <% end %>
  </div>
</div>
