.twitter {
  display: flex;
  background: #565148;

}

ul {
  list-style: none;
  padding-left: 15%;
  padding-right: 15%;
}

li {
  margin:auto;
  color: white;

}
body {
  background-color: #F2EBE9;
}

footer {
  background-color: #CCBAB4;
}
